<form method="POST" action="/addSeries">

	<select name="team1" required>

		<option>India</option>
		<option>England</option>
		<option>New Zealand</option>
		<option>South Africa</option>
		<option>Australia</option>
		<option>Pakistan</option>
		<option>Sri Lanka</option>
		<option>West Indies</option>
		<option>Bangladesh</option>
		<option>Zimbabwe</option>
		<option>Ireland</option>
		<option>Afghanistan</option>
		
	</select>	

	<select name="team2" required>

		<option>India</option>
		<option>England</option>
		<option>New Zealand</option>
		<option>South Africa</option>
		<option>Australia</option>
		<option>Pakistan</option>
		<option>Sri Lanka</option>
		<option>West Indies</option>
		<option>Bangladesh</option>
		<option>Zimbabwe</option>
		<option>Ireland</option>
		<option>Afghanistan</option>

	</select>
	 
	 
	<input type="number" name="matches" placeholder="matches" required>

	<button>Submit</button>
	
</form>